<div class="categories-component">
	<div class="container">
		<div class="container-link" routerLink="/work">
			<h3 class="title">Work</h3>
			<img class="btn-navigate" src="../../assets/next.svg">
			<p class="description">Acesta este un test ca sa demonstrezsad a...</p>
		</div>
		<div class="container-link" routerLink="/articles">
			<h3 class="title">Articles</h3>
			<img class="btn-navigate" src="../../assets/next.svg">
			<p class="description">Acesta este un test ca sa demonstrezsad a...</p>
		</div>
	</div>
</div>
