<div class="about-component">
	<div class="overlay-container"></div>
	<div class="about-container">
		<img class="profile-image" src="../../assets/avatar.jpg" (click)="accessLogin()">
		<p class="description">The Chernobyl disaster took place 30 years ago this April, but its effects are still being felt. The meltdown of the nuclear power plant in northern Ukraine thrust a huge amount of radioactive particles into the Earth's atmosphere, cont</p>
		<div class="follow-me">
			Follow me on <a>Instagram</a> or <a> Facebook.</a>
		</div>

		<div class="contact">
			<div class="email">
				<img class="contact-icon" src="../../assets/email.svg">
			</div>
			<div class="phone">
				<img class="contact-icon" src="../../assets/phone.svg">
			</div>
		</div>
	</div>
</div>
